body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container {
    flex: 1;
}

header h1 {
    color: #007bff;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: underline;
}


.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item span {
    flex-grow: 1;
}
